.viewer-container{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/transparent_white.avif');
    background-size: cover;
}

.viewer-container .header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: black;
    height: 60px;
}

.viewer-container .content{
    overflow: hidden;
}