.viewer-container{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/transparent_white.avif');
    background-size: cover;
}

.viewer-container .header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: black;
    height: 60px;
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    align-items: center;
}

.viewer-container .content{
    overflow: hidden;
    text-align: -webkit-center;
}

.viewer-container button{
    height: fit-content;
    width: auto;
    background-color: #007bff;
    border: #007bff;
}