.element-manager {
  padding: 0 10px 0 0;
  width: 400px;
  font-family: Arial, sans-serif;
  background-color: #232325;
}

.element-manager .header{
  background: black;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.element-item {
  margin-left: 20px;
  margin-top: 18px;
  position: relative;
}

.item {
  margin-bottom: 18px;
}

.element-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.div,
.element-name {
  font-weight: bold;
  color: #007bff;
}

.add-element {
  position: absolute;
  top: 0px;
  right: -114px;
  border: 1px solid #007bff;
  border-radius: 0px 10px 10px 10px;
  z-index: 2;
  background: black;
}

.element-options {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.element-options button {
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #007bff;
  text-align: left;
  color: #007bff;
}

.add_element_button{
  padding: 5px;
  background: #007bff;
  margin-right: 10px;
  border-radius: 10px 0px 10px 10px;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}