.toolbar {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column
}

.toolbar form{
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.toolbar h3 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  gap: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #fff;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="color"],
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}