.input-with-image-button-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .image-button {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px;
  }

  .image-button img {
    max-width: 45px;
    max-height: 45px;
  }

  .dropdown {
    width: 150px;
  }
